@import '../../common/colors.scss';


.movie-section{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
    height: 80vh;
}

.movie-rating{
    padding-left: 3px;
    margin: 20px ;
    color: $font-secondary;
    display: flex;
     
    
    span{
        margin-right: 20px;
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
}
.loader{
    height: 60vh;
    display: flex;
    flex-direction: column;
     
    width: 100%;
}
.movie-title{
    font-size: 40px;
    color: $font-primary;
}
.movie-plot{
    margin-top: 20px;
    line-height: 1.8rem;
}
.movie-info>div span:first-child{
    padding: 10px;
    color: $font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}
.movie-info > div span{
    color: $font-secondary;
}
.star{
    color: #ff9e00;
}
.thumbsUp{
    color: #fafaff;
}
.runtime{
    color: rgb(191,213,214);
}
.year{
    color: peachpuff;
}
.section-right{
    margin-left: 30px;
}
.icon{
    margin-left: 10px;
    margin-right: 6px;
}